body{
    margin: 0;
    display: flex;
    background-color: rgb(8, 16, 54);
    justify-content: center;
    padding-top: 100px;
}
#frame{
    border: solid gray;
    background: rgb(12, 26, 73);
    height: 500px;
    width: 300px;
    padding: 50px 3px 3px 3px;
}

#textDiv{
    display: flex;
    width:250px;
    height: 50px;
    ;
    margin:  20px;
    color: white;
    justify-content: end;
    
}
#text{
    color: white;
    background-color: black
}
